{# src/DBAO/AdminBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}DBAO Administration{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/dbaoadmin/css/style.css') }}" type="text/css" media="all" />
        {% block import %}
        {% endblock %}
    </head>

    <body>
        <div id="page">
            <header>
                <div id="titre">
                    <a href="{{ path('dbao_admin_homepage') }}"><h1>DBAO<p style="">*</p></br>Administration</h1></a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <nav>
                    <a id="lien_menu" class="deco" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    <ul>
                        <a id="lien_menu" href="{{ path('dbao_admin_slider') }}">Slider</a>
                        <a id="lien_menu" href="{{ path('dbao_admin_realisations') }}">Réalisations</a>
                        <a id="lien_menu" href="{{ path('dbao_admin_clients') }}">Clients</a>
                        <a id="lien_menu" style="margin-right: 0px;" href="{{ path('dbao_admin_news') }}">News</a>
                        <a id="lien_menu" href="{{ path('dbao_admin_agence') }}" style="margin-top: 5px;">Agence</a>
                    </ul>
                </nav>
                {% endif %}
            </header>

            <div id="contenu">
                {% block body %}
                {% endblock %}
            </div>

            <footer>
                <HR size=10 align=center style="background-color:black;">
                <p>Tous droits réservés © 2013</p>
            </footer>
        </div>
    </body>
</html>
