{% extends 'DBAOAdminBundle::layout.html.twig' %}

{# Déclaration du titre de la page, imprort des JS/CSS #}
{% block title %}{{ parent() }} - agence{% endblock %}

{% block import %}
    <link rel="stylesheet" href="{{ asset('bundles/dbaoadmin/css/agence.css') }}" type="text/css" media="all" />
{% endblock %}

{# Corps de la page #}
{% block body %}
    <div id="titre_rubrique">AGENCE</div>

        {% for p in personnel %}
            <div class="perso">
                <div class="name">
                    <p class="nomPerso">{{ p.nom }}</p>
                    <p class="statutPerso">{{ p.statut }}</p>
                    <p class="fonctionPerso">{{ p.fonction }}</p>
                </div>
                <img class="imagePerso" src="/dbao_light_site/web/uploads/documents/{{ p.url }}"></img>
                <div class="phrasePerso"><p>{{ p.phrase }}</p></div>
                <a id="lien_acces" href="{{ path('dbao_admin_agence_supprimer', { "id": p.id } ) }}" onclick="return confirm('Etes vous sûre de vouloir supprimer cet élément ?');">Supprimer <p>></p></a>
            </div>
        {% endfor %}

    <div class="clear"></div>
    <br/>
    <center><a href="{{ path('dbao_admin_agence_add_personnel') }}" style="width: 100%"> Ajouter du personnel </a></center>
{% endblock %}

