{% extends 'DBAOAdminBundle::layout.html.twig' %}

{# Déclaration du titre de la page, imprort des JS/CSS #}
{% block title %}{{ parent() }} - agence{% endblock %}

{% block import %}
    <link rel="stylesheet" href="{{ asset('bundles/dbaoadmin/css/agence.css') }}" type="text/css" media="all" />
{% endblock %}

{# Corps de la page #}
{% block body %}
    <div id="titre_rubrique">AGENCE</div>
    <form action="" method="post" {{ form_enctype(form) }}>
	{{ form_errors(form) }}

	{{ form_label(form.nom) }} :
	{{ form_errors(form.nom) }}
	{{ form_widget(form.nom) }}
    </br></br>

	{{ form_label(form.statut) }} :
	{{ form_errors(form.statut) }}
	{{ form_widget(form.statut) }}
    </br></br>

	{{ form_label(form.fonction) }} :
	{{ form_errors(form.fonction) }}
	{{ form_widget(form.fonction) }}
    </br></br>

    {{ form_label(form.phrase) }} :
	{{ form_errors(form.phrase) }}
	{{ form_widget(form.phrase) }}
    </br></br>

    Photo :
	{{ form_errors(form.file) }}
	{{ form_widget(form.file) }}
    </br></br>

    {{ form_rest(form) }}

    <input type="submit" />
    </form>
{% endblock %}
