{% extends 'DBAOAdminBundle::layout.html.twig' %}

{# Déclaration du titre de la page, imprort des JS/CSS #}
{% block title %}{{ parent() }} - news{% endblock %}

{% block import %}
    <link rel="stylesheet" href="{{ asset('bundles/dbaoadmin/css/news.css') }}" type="text/css" media="all" />
{% endblock %}

{# Corps de la page #}
{% block body %}
    <div id="titre_rubrique">NEWS IMAGES</div>

    {% for i in image %}
        <div class="imageNews">
            <img src="/dbao_light_site/web/uploads/documents/{{ i.url }}"></img>
            <form action="{{ path('dbao_admin_news_updateImages', {'id': i.id , 'retour':retour} ) }}" method="post">
                Emplacement : <input type="text" name="form_up" value="{{ i.emplacement }}"/>
                <input type="submit">
            </form>
            <a id="lien_acces" href="{{ path('dbao_admin_news_supprimerImages', { 'id': i.id, 'retour':retour} ) }}">Supprimer <p>></p></a>
        </div>
    {% endfor %}

    <form action="" method="post" {{ form_enctype(form) }}>
	{{ form_errors(form) }}

	{{ form_label(form.emplacement) }} :
	{{ form_errors(form.emplacement) }}
	{{ form_widget(form.emplacement) }}
    </br></br>

    {{ form_label(form.file) }} :
	{{ form_errors(form.file) }}
	{{ form_widget(form.file) }}
    </br></br>

    {{ form_rest(form) }}

    <input type="submit" />
    </form>
{% endblock %}
