{% extends 'DBAOAdminBundle::layout.html.twig' %}

{# Déclaration du titre de la page, imprort des JS/CSS #}
{% block title %}{{ parent() }} - news{% endblock %}

{% block import %}
    <link rel="stylesheet" href="{{ asset('bundles/dbaoadmin/css/news.css') }}" type="text/css" media="all" />
{% endblock %}

{# Corps de la page #}
{% block body %}

    <div id="titre_rubrique">NEWS</div>

    {% for n in news %}
        <div id="news">
        <div class="zoneImage">
            {% for i in images %}
                {% if i.news == n %}
                    <img class="news" src="/dbao_light_site/web/uploads/documents/{{ i.url }}"></img>
                {% endif %}
            {% endfor %}
        </div>

        <div class="zoneTexte">
            <p class="titreNews">{{ n.titre }}</p>
            <p class="dateNews">{{ n.date | localizeddate('long', 'none', 'fr') }}</p>
            <p class="accrocheNews">{{ n.description }}</p>
            <p class="texteNews">{{ n.texte }}</p>
        </div>
        <a id="lien_acces" href="{{ path('dbao_admin_news_modifier', { "id": n.id } ) }}">Modifier <p>></p></a>
        <a id="lien_acces" href="{{ path('dbao_admin_news_modifierImage', { "id": n.id } ) }}">Images <p>></p></a>
        <a id="lien_acces" href="{{ path('dbao_admin_news_supprimer', { "id": n.id } ) }}" onclick="return confirm('Etes vous sûre de vouloir supprimer cet élément ?');">Supprimer <p>></p></a>
    </div>
    {% endfor %}

    <div class="clear"></div>
    <center><a href="{{ path('dbao_admin_news_edition') }}">Ajouter une news</a></center>
{% endblock %}

