{% extends 'DBAOSiteBundle::layout.html.twig' %}

{# Déclaration du titre de la page, imprort des JS/CSS #}
{% block title %}{{ parent() }} - Book{% endblock %}

{% block import %}
    <link rel="stylesheet" href="{{ asset('bundles/dbaosite/css/contenu.css') }}" type="text/css" media="all" />
{% endblock %}

{% block titreHeader %}
BOOK<br/>
<a id="lien_acces" class="lienHeader" href="{{ path ('dbao_site_realisations') }}">Retour au book <p>></p></a>
{% endblock %}

{# Corps de la page #}
{% block body %}

    <div class="gauche">
        <p class="nomClient">{{ realisation.titre }}</p>
        {% if realisation.strategie %} <div id="picto" class="strategie"><p>strategie</p></div> {% endif %}
        {% if realisation.design %} <div id="picto" class="design"><p>design</p></div> {% endif %}
        {% if realisation.developpement %} <div id="picto" class="developpement"><p>developpement</p></div> {% endif %}
        {% if realisation.motion %} <div id="picto" class="motion"><p>3D / motion</p></div> {% endif %}
    </div>

    <div class="droite">
        <p class="descriptionTitre">Description</p>
        <p class="descriptionTexte">{{ realisation.description }}</p>
    </div>

    {% for c in contenu %}
        <img class="contenuImage" src="/dbao_light_site/web/uploads/documents/{{ c.url }}"></img>
    {% endfor %}

{% endblock %}

