{% extends 'DBAOSiteBundle::layout.html.twig' %}

{# Déclaration du titre de la page, imprort des JS/CSS #}
{% block title %}{{ parent() }} - Book{% endblock %}

{% block import %}
    <link rel="stylesheet" href="{{ asset('bundles/dbaosite/css/realisations.css') }}" type="text/css" media="all" />
{% endblock %}

{% block titreHeader %}
BOOK
{% endblock %}

{# Corps de la page #}
{% block body %}
    <div id="tri_div">
        {% if expertise == "strategie"%}
            <a href="{{ path('dbao_site_realisations') }}"><div id="tri" class="enhaut">
                <div id="background_tri" class="Strategie"></div>
                Toute catégorie
        {% else %}
            <a href="{{ path('dbao_site_realisations', { 'expertise': 'strategie' }) }}"><div id="tri" class="enhaut">
                <div id="background_tri" class="Strategie"></div>
                Stratégie
        {% endif %}
        </div></a>

        {% if expertise == "design"%}
            <a href="{{ path('dbao_site_realisations') }}"><div id="tri" class="droite enhaut">
                <div id="background_tri" class="Design"></div>
                Toute catégorie
        {% else %}
            <a href="{{ path('dbao_site_realisations', { 'expertise': 'design' }) }}"><div id="tri" class="droite enhaut">
                <div id="background_tri" class="Design"></div>
                Design
        {% endif %}
        </div></a>

        {% if expertise == "developpement"%}
            <a href="{{ path('dbao_site_realisations') }}"><div id="tri">
                <div id="background_tri" class="Developpement"></div>
                Toute catégorie
        {% else %}
            <a href="{{ path('dbao_site_realisations', { 'expertise': 'developpement' }) }}"><div id="tri">
                <div id="background_tri" class="Developpement"></div>
                Développement
        {% endif %}
        </div></a>

       {% if expertise == "motion"%}
            <a href="{{ path('dbao_site_realisations') }}"><div id="tri" style="margin-right: 0px;">
                <div id="background_tri" class="Motion"></div>
                Toute catégorie
        {% else %}
            <a href="{{ path('dbao_site_realisations', { 'expertise': 'motion' }) }}"><div id="tri" style="margin-right: 0px;">
                <div id="background_tri" class="Motion"></div>
                3D/Motion design
        {% endif %}
        </div></a>
    </div>

    {% set i = 0 %}
    {% for r in realisation %}
        {% if r.strategie and expertise == "strategie" or r.design and expertise == "design" or r.developpement and expertise == "developpement" or r.motion and expertise == "motion" or expertise == "" %}
            {% set i = i + 1 %}
            {% set j = i % 4 %}
            <a href="{{ path ('dbao_site_realisations_contenu', { 'id': r.id }) }}">
            {% if j == 1 or j == 3 %}
                    <div id="realisation">
            {% elseif i % 4 == 2 %}
                    <div id="realisation" class="particulier">
            {% elseif i % 4 == 0 %}
                <div id="realisation" style="margin-right: 0px;">
            {% endif %}
                    <img id="rubrique_image" src="/dbao_light_site/web/uploads/documents/{{ r.url }}"></img>
                    <div id="filtre"></div>
                    <div id="rubrique_titre">
                        {{ r.titre }}
                    </div>
                    <div id="realisation_description">
                        {{ r.accroche }}
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
<div class="clear"></div>
{% endblock %}
